.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  min-height: 100vh;
}

.mapContainer {
  display: flex;
  flex: 1;
  align-self: stretch;
  max-height: 100vh;
  align-items: center;

  margin-left: -100px;
  margin-right: -60px;

  @media only screen and (max-width: 800px) {
    margin-left: -100px;
    margin-right: -80px;
  }
  @media only screen and (min-width: 800px) and (max-width: 1200px) {
    margin-left: -150px;
    margin-right: -90px;
  }
}